@import '../../styles/variables';
@import '../../styles/functions';

$color_Link: rgba(250, 250, 250, .6);
$fontSize_Link: 40px;

.menu-user {
  padding: 25px 0;

  & > li {
    list-style: none;
    display: inline-block;
    margin-left: 35px;
  }

  &__link {
    color: $color_Link;
    cursor: pointer;
    font-size: calculatePxToRem($fontSize_Link);
    font-weight: $fontWeight_Bold;
    text-decoration: none;

    &.active {
      color: $white;
    }
  }
}

.content-user {
  margin-left: 35px;
}