$fontFamily_Base: 'Comfortaa', cursive;
$fontSize_Base: 16px;

$fontWeight_Light: 300;
$fontWeight_Regular: 400;
$fontWeight_Medium: 500;
$fontWeight_SemiBold: 600;
$fontWeight_Bold: 700;

$black: #000000;
$white: #FFFFFF;
$charcoal: #424242;
$radical_red: #FF415A;
$dark_radical_red: #A32540;
$dark-gray:  rgba(50, 50, 50, 0.9);
$shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
$gray: rgb(80, 80, 80);
$gray-white: #EFEFEF;

$button_padding: 5px;
$button_radius: 5px;

