$fontFamily_Base: 'Comfortaa', cursive;
$fontSize_Base: 16px;

$fontWeight_Light: 300;
$fontWeight_Regular: 400;
$fontWeight_Medium: 500;
$fontWeight_SemiBold: 600;
$fontWeight_Bold: 700;

$black: #000000;
$white: #FFFFFF;
$charcoal: #424242;
$radical_red: #FF415A;

