@import 'variables';
@import 'functions';


$text-color: $white;
$background-color: $dark-gray;
$content-color: $gray;
$box-shadow: $shadow;
$button-radius: $button-radius;
$button-padding: $button-padding;
$button-color: $radical_red;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $fontFamily_Base;
  font-size: $fontSize_Base;
  background:linear-gradient($background-color, $background-color), url('/background-img.jpg');
  background-size: cover;
}


.content {
  background-color: $content-color;
  margin-top: 100px;
  height: 350px;
  box-shadow: $box-shadow;
}

.button {
  background-color: $button-color;
  padding: $button-padding;
  border-radius: $button-radius;
}
